body{
  background-color: black;
}
p{
  color: white;
  font-family: Lato , cursive;
}
settings{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000080;
  overflow-x: hidden;
  padding-top: 20px;
}
